@font-face {
  font-family: "asap";
  src: url(../font/Asap-VariableFont_wght.ttf);
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 60px 0;
}

.text-area {
  width: 50%;
  flex-direction: column;
}
.Heading {
  font-size: 30px;
  font-weight: bold;
  position: relative;
}
.Heading::before {
  content: "";
  width: 50px;
  height: 13px;
  background: #6dc8c2;
  position: absolute;
  margin-top: 50px;
}

.description {
  font-family: "asap";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  margin-top: 45px;
  margin-bottom: 25px;
  width: 90%;
}

.connect-btn button {
  padding: 10px 40px;
  background: #ffbb45;
  border-radius: 20px;
  border: none;
  font-family: "asap";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

.icons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.icons .linkdin-icon {
  margin-right: 1rem;
}

.icons img {
  width: 51.75px;
  height: 52.34px;
  cursor: pointer;
}
.img-area {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#About {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.img-area > img {
  width: 80%;
}
.text-area2 {
  flex: 1;
  font-size: 20px;
  line-height: 31px;
}

.about p {
  font-family: "asap";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 58px;
  color: #000000;
}

.detail-btn button {
  font-weight: 400;
}

.img-area1 {
  flex: 50%;
}

.img-area1 img {
  margin-top: 27rem;
  margin-left: -4rem;
}

.moreproject-btn button {
  margin-top: 4rem;
}

.cert {
  font-family: "asap";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 58px;

  color: #000000;
}

.Text {
  font-size: 17px;
  font-weight: 600;
  margin: 9px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-cre button {
  font-weight: 40;
}

.hero-section-cer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.certifications {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 60px;
}
.certification {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cert-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cert-img > img {
  height: 60%;
}
.img-cert {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}
.img-cert > img {
  height: 50%;
}
.skill-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 24%;
  margin-bottom: 25px;
}

.hero-section-skill-icon {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.click-away {
  font-family: "asap";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 58px;
  color: #000000;
}

.welcome {
  font-family: "asap";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}
/* .email {
  font-family: "asap";
  font-style: normal;
  font-weight: 100;
  font-size: 19px;
  line-height: 29px;
  color: #000000;
} */

.b-btn {
  margin-top: 2rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.contact_btn {
  transition: 0.5s all;
  cursor: pointer;
  padding: 7px 40px;
  background: #ffbb45;
  border-radius: 20px;
  border: none;
  font-family: "asap";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  color: #000000;
  box-shadow: 0px 0px 15px -3px #ffd07f;
}

.contact_btn:hover {
  transform: scale(1.05);
}
.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
}
.about > img {
  width: 90%;
}

.project-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.description-part1 {
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 10px;
  background: #e2e8f0;
  box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.1);
}
.Ai {
  font-size: 18px;
  font-weight: 600;
}
.des {
  margin: 7px 0;
}
.show_more {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right-projects {
  width: 50%;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

@keyframes beating {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(1.03);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.right-projects > img {
  height: 95%;
  animation: beating 2s infinite;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modal-container {
  width: 50%;
  background: white;
  border-radius: 10px;
  padding: 15px;
}
.modal-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.modal-header > h1 {
  font-size: 20px;
  font-weight: bold;
}
.input {
  width: 100%;
  display: block;
  margin-top: 25px;
  background: #e2e8f0;
  padding: 10px 7px;
  border-radius: 10px;
  border: 1px solid #94a3b8;
}
.input::placeholder {
  font-size: 14px;
}
.form-container {
  margin-top: 30px;
}

.submit {
  color: #000;
  padding: 7px 20px;
  background-color: #ffbb45;
  border-radius: 10px;
  margin-top: 30px;
}
